.font{
    font-family: 'Oswald', sans-serif;
  font-size: larger;
    }
h1{
    font: 100px;
}
h2{
    text-align: center;
}
.orange-color{
color: orange;
}

section{
    display: flex;
   }
   .half-width{
       width: 100%;
     padding-left: 2%;
   }
.half-width img{
    width: 80%;
  
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;    border-radius: 25px;
   
}
.middle{
    text-align: right;
padding-left: 50%;
padding-right: 2%;
margin: 0px auto;
}
.responsive{
    background-image: url(shape/bck-b.png); 
    opacity: 1; width: 1930px; height: 480px;
    background-repeat: no-repeat;
    padding-left: 0px auto;
    
}