.font{
    font-family:'Oswald',sans-serif;
  font-size: larger;
    }
h1{
    font: 100px;
}
.orange-color{
    color: orange;

h2{
text-align;
font-family:'Oswald', sans-serif;
font-size: 50px;
}


    text-align:center
    font-size:larger


   
}

section{
    display: flex;
   }
   .half-width{
       width: 100%;
     padding-left: 2%;
   }
.half-width img{
    width: 80%;
  
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;    border-radius: 25px;
   
}
.middle{
    text-align: right;
padding-left: 50%;
padding-right: 2%;
margin: 0px auto;
}
.responsive{
    background-image: url(shape/bck-b.png); 
    opacity: 1; width: 1930px; height: 480px;
    background-repeat: no-repeat;
    padding-left: 0px auto;
    
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.last-description{
    text-align:top[];
    padding-left: 50%;
}
.last-pera{
    background-color:white;
    font-family:'Oswald', sans-serif;
margin-top: 10% ;
}
.last-pera h2{
    margin-bottom: 60px;
    text-align: center;
}
.food{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}
.food.food_diet{
    background: white;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
}